<!DOCTYPE html>
<html>
  <head>
    <title>Tom Smithson</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <div class="nav">
            <div class="nav-item current">
                <a href="/">Home</a>
            </div>
            <div class="nav-item">
                <a href="/">Projects</a>
            </div>
            <div class="nav-item">
                <a href="/">Timeline</a>
            </div>
        </div>
        <div class="header">
            <div class="intro">Hello, my name is Tom Smithson. I am studying Computer Science,
                a Software and Full Stack Web Developer living in the UK.</div>
            <div class="round_image">
                <img src="/images/tom.jpg" width="100%" height="100% alt="Image of Tom Smithson">
            </div>
        </div>
        <!-- Retrieve this data from a database
        TODO -> Retrieve this data from a database
        TODO -> Title/Image/Content
        TODO -> SQL or NOSQL (Have already used nosql so might be worth showing my ability to use sql)
        -->
        <div class="projects">
            <h3>Projects</h3>
            <h5>Fitness App</h5>
            <div class="project">
                <div class="square_image">
                </div>
                <div class="description">
                    <p>This is the description about the project that is in the image on the left. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eum earum, voluptas dolorem sed hic voluptatibus perspiciatis qui temporibus alias iste quasi ducimus tenetur. Doloribus quaerat impedit, culpa fuga aut pariatur, praesentium odit explicabo deleniti magnam mollitia dignissimos inventore corporis earum! Quo tempora est at earum deserunt corporis corrupti optio!</p>
                </div>
            </div>
            <h5>Algorithms (Competitive Programming)</h5>
            <div class="project">
                <div class="square_image">
                </div>
                <div class="description">
                    <p>This is the description about the project that is in the image on the left. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eum earum, voluptas dolorem sed hic voluptatibus perspiciatis qui temporibus alias iste quasi ducimus tenetur. Doloribus quaerat impedit, culpa fuga aut pariatur, praesentium odit explicabo deleniti magnam mollitia dignissimos inventore corporis earum! Quo tempora est at earum deserunt corporis corrupti optio!</p>
                </div>
            </div>
        </div>
        <div class="skills">
            <h3>Skills</h3>
            <div class="type"><strong>Technical</strong>: Git, Github, Web Hosting, Servers, Linux, VIM</div>
            <div class="type"><strong>Software</strong>: Python, Javascript (Node, React, Express, MongoDB), C, C++
            </div>
            <div class="type"><strong>Creative</strong>: Photoshop, XD, After Effects, Premier Pro
            </div>
            <div class="type"><strong>Certifications</strong>: Comptia ITF+, Google’s Automating with Python (Coursera)</div>
        </div>
    </div>  
  </body>
</html>
