<!DOCTYPE html>
<html>
  <head>
    <title>Tom Smithson</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f1855ef43.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
        <div class="nav">
            <div class="nav-item current">
                <a href="/">Home</a>
            </div>
            <div class="nav-item">
                <a href="#skills_section">Skills</a>
            </div>
            <div class="nav-item">
                <a href="#projects_section">Projects</a>
            </div>
            <div class="nav-item">
                <a href="/">Timeline</a>
            </div>
        </div>
        <div class="header">
            <div><p>Hello, my name is Tom Smithson. I am studying Computer Science,
                a Software and Full Stack Web Developer living in the UK.</p></div>
            <div class="round_image">
                <img src="/images/tom.jpeg" width="100%" height="100% alt="Image of Tom Smithson">
            </div>
            <div class="socials">
                <a href="https://github.com/TomSmithson"><i class="fab fa-github-square fa-2x"></i></a>
                <a href="https://stackoverflow.com/users/10081829/tom-smithson?tab=profile"><i class="fab fa-stack-overflow fa-2x"></i></a>
                <a href="https://linkedin.com/in/tom-smithson-b546281a1"><i class="fab fa-linkedin fa-2x"></i></a>
                <a href="https://twitter.com/TomSmithson20"><i class="fab fa-twitter-square fa-2x"></i></a>
            </div>
        </div>
        <!-- Retrieve this data from a database
        TODO -> Retrieve this data from a database
        TODO -> Title/Image/Content
        TODO -> SQL or NOSQL (Have already used nosql so might be worth showing my ability to use sql)
        -->
        <div class="skills" id="skills_section">
            <div class="skill">
                <h5>Technical</h5>
                <ul>
                    <li>Git/Github</li>
                    <li>Web Hosting</li>
                    <li>Servers</li>
                    <li>Linux</li>
                    <li>VIM</li>
                </ul>
            </div>
            <div class="skill">
                <h5>Software</h5>
                <ul>
                    <li>Python</li>
                    <li>Javascript (Node, React, Express, MongoDB)</li>
                    <li>C/C++</li>
                </ul>
            </div>
            <div class="skill">
                <h5>Creative</h5>
                <ul>
                    <li>Photoshop</li>
                    <li>XD</li>
                    <li>After Effects</li>
                    <li>Premier Pro</li>
                </ul>
            </div>
            <div class="skill">
                <h5>Certifications</h5>
                <ul>
                    <li>Comptia ITF+</li>
                    <li>Google's Automating with Python (Coursera)</li>
                </ul>
            </div>
        </div>
        <!-- <div class="description">
            <p>This is my Fitness App and I have created this with React, Mongo, Node and Express. The motivation behind this project was to build a simple exercise tracking application so that my girlfriend could use it to track her fitness activities. When looking at the market, it was full of over complicated applications that didn't offer a simply solution. It was my first project in React and I learnt as I went along. In the future I will be looking into more React tutorials and projects as it is super useful!</p>
            <a href="https://github.com/TomSmithson/FitnessApp.git">&nbsp;<p>Github Repository Link</p></a>
        </div> -->
        <div class="project">
            <div class="projectText">
                <h1>Fitness Tracker</h1>
                <a href="https://github.com/TomSmithson/FitnessApp.git"><h5>View Project</h5></a>
                <div class="underline"></div>
                <div class="about">
                    <p>This is my Fitness App and I have created this with React, Mongo, Node and Express. The motivation behind this project was to build a simple exercise tracking application so that my girlfriend could use it to track her fitness activities. When looking at the market, it was full of over complicated applications that didn't offer a simply solution. It was my first project in React and I learnt as I went along. In the future I will be looking into more React tutorials and projects as it is super useful!</p>
                </div>
            </div>
            <img src="/images/FitnessApp.png" alt="Image of Fitness App Homepage" class="projectImg">
        </div>
        <div class="project">
            <div class="projectTextRight">
                <h1>Competitive Programming</h1>
                <a href="https://github.com/TomSmithson/FitnessApp.git"><h5>View Repository</h5></a>
                <div class="underline"></div>
            </div>
            <img src="/images/cp.png" alt="Image of Fitness App Homepage" class="projectImgRight">
        </div>
    </div>  
  </body>
</html>
