body {
  padding: 50px;
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FDFDFD;
  color: #606060;
  letter-spacing: 0.05rem;
}

/* * Base Page * */
.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

/* * Nav Bar * */
.nav {
    position: fixed;
    margin-left: 55%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 30%;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.nav-item a:hover {
    color: skyblue;
}

.current a {
    color: skyblue;
}


/* * Header Section * */
.header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
}

.intro {
}

.round_image {
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
}

.socials a {
    text-decoration: none;
    color: inherit;
    padding: 0.3rem;
}

/* * Projects Section * */

.projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 100%;
    margin-top: 1.5rem;
}

.projects h5 {
    padding: 0;
    margin: 0;
    text-align: left;
}

.description p {
    padding: 0;
    margin: 0;
    text-align: justify;
}

.project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;  
}

.description {
    padding: 0;
    margin: 0;
}

.square_image {
    margin-top: 1rem;
    width: 30rem;
    height: 15rem;
    margin: 0 auto;
}