body {
  padding: 50px;
  /* font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Work Sans', sans-serif;
  background-color: #FDFDFD;
  /* color: #606060; */
  color: #5a5959;
  letter-spacing: 0.05rem;
}

p {
    font-size: 0.8rem;
    color: #909090;
}

li {
    color: #909090;
}

a {
    text-decoration: none;
    color: blue;
}

/* * Base Page * */
.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

/* * Nav Bar * */
.nav {
    /* position: fixed; */
    margin-left: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
    width: 30%;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.nav-item a:hover {
    color: skyblue;
}

.current a {
    color: skyblue;
}


/* * Header Section * */
.header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
}

.header p {
    font-size: 1rem;
}

.round_image {
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
}

.socials a {
    text-decoration: none;
    color: inherit;
    padding: 0.3rem;
}

/* * Projects Section * */

.projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 100%;
    margin-top: 1.5rem;
}

.projects h5 {
    padding: 0;
    margin: 0;
    text-align: left;
}

.description p {
    padding: 0;
    margin: 0;
    text-align: justify;
}

.project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;  
}

.description {
    padding: 0;
    margin: 0;
}

.square_image {
    margin-top: 1rem;
    width: 30rem;
    height: 15rem;
    margin: 0 auto;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 100%;
    margin-top: 0.5rem;
}

.skill h5 {
    font-size: 1rem;
    padding: 0;
    margin-bottom: 0.5rem;
    text-align: left;
}

.skill ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: left;
    list-style: none;
}

.skill ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: black; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1rem; 
    /* margin-left: -1rem; */
  }