body {
  padding: 50px;
  /* font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Work Sans', sans-serif;
  background-color: #FDFDFD;
  /* color: #606060; */
  color: #5a5959;
  letter-spacing: 0.05rem;
}

p {
    font-size: 0.8rem;
    color: #909090;
}

li {
    color: #909090;
}

a {
    text-decoration: none;
    color: blue;
}

/* * Base Page * */
.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

/* * Nav Bar * */
.nav {
    /* position: fixed; */
    margin-left: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
    width: 30%;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.nav-item a:hover {
    color: skyblue;
}

.current a {
    color: skyblue;
}


/* * Header Section * */
.header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
}

.header p {
    font-size: 1rem;
}

.round_image {
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    margin-bottom: 1.2rem;
}

.socials a {
    text-decoration: none;
    color: inherit;
    padding: 0.3rem;
}

.socials a:hover {
    color: skyblue;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
}

.skill h5 {
    font-size: 1rem;
    padding: 0;
    margin-bottom: 0.5rem;
    text-align: left;
}

.skill ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: left;
    list-style: none;
}

.skill ul li::before {
    content: "\2022";
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 1rem; 
}

.project {
    width: 100%;
    position: relative;
    margin-bottom: 5em;
}

.project > .projectText {
    font-size: 0.8rem;
    position: absolute;
    text-align: left;
    top: 85;
}

.project > .projectText a {
    text-decoration: none;
    color: skyblue;
}

.project > .projectText > .underline {
    display: block;
    background-color: skyblue;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}

.project > .projectText > .about {
    width: 30%;
}

.project > .projectText > .about p {
    font-size: 1rem;
}

.project > .projectImg {
    width: 65%;
    float: right;
    box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.15);
}


.project > .projectTextRight {
    font-size: 0.8rem;
    position: absolute;
    top: 85;
    right: 0;
    text-align: right;
}

.project > .projectTextRight a {
    text-decoration: none;
    color: skyblue;
}

.project > .projectTextRight > .underline {
    display: block;
    background-color: skyblue;
    height: 3px;
    width: 61px;
    margin-top: 5px;
}

.project > .projectImgRight {
    width: 65%;
    float: left;
    box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.15);
}